In [4]:
import pandas as pd

file_path_nxg = '~/Documents/ds_study/EPL_prediction_ML/data/epl-2023-GMTStandardTime.csv'
df = pd.read_csv(file_path_nxg)
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y %H:%M').dt.strftime('%Y-%m-%d')

print(df)

           Date           HomeTeam     AwayTeam
0    2024-01-01          Liverpool    Newcastle
1    2024-02-01           West Ham  Bournemouth
2    2024-02-01             Wolves      Man Utd
3    2023-09-01              Luton     West Ham
4    2023-10-01  Nottingham Forest    Brentford
..          ...                ...          ...
375  2024-01-31              Spurs    Brentford
376  2024-01-31           Man City      Burnley
377  2024-01-31          Liverpool      Chelsea
378  2023-12-31             Fulham      Arsenal
379  2023-12-31              Spurs  Bournemouth

[380 rows x 3 columns]

In [5]:
df.to_csv('~/Documents/ds_study/EPL_prediction_ML/data/epl_2023-2024.csv', index=False)

In [7]:
merge_data_path = '~/Documents/ds_study/EPL_prediction_ML/data/merge_data.csv'
epl_data_path = '~/Documents/ds_study/EPL_prediction_ML/data/epl_2023-2024.csv'

merge_data = pd.read_csv(merge_data_path)
epl_data = pd.read_csv(epl_data_path)

teams_merge_data = set(merge_data['HomeTeam'].unique())
teams_epl_data = set(epl_data['HomeTeam'].unique())

teams_to_replace = teams_epl_data - teams_merge_data
teams_to_replace

{'Luton', 'Man Utd', 'Nottingham Forest', 'Sheffield Utd', 'Spurs'}

In [8]:
import pandas as pd

merge_data = pd.read_csv('~/Documents/ds_study/EPL_prediction_ML/data/merge_data.csv')
epl_data = pd.read_csv('~/Documents/ds_study/EPL_prediction_ML/data/epl_2023-2024.csv')

In [11]:
# Luton이 막 승격된 팀이라 데이터가 없으므로 삭제
epl_data = epl_data[(epl_data['HomeTeam'] != 'Luton') & (epl_data['AwayTeam'] != 'Luton')]

print(epl_data)

           Date           HomeTeam     AwayTeam
0    2024-01-01          Liverpool    Newcastle
1    2024-02-01           West Ham  Bournemouth
2    2024-02-01             Wolves      Man Utd
4    2023-10-01  Nottingham Forest    Brentford
5    2024-01-02           West Ham     Brighton
..          ...                ...          ...
375  2024-01-31              Spurs    Brentford
376  2024-01-31           Man City      Burnley
377  2024-01-31          Liverpool      Chelsea
378  2023-12-31             Fulham      Arsenal
379  2023-12-31              Spurs  Bournemouth

[342 rows x 3 columns]

In [13]:
name_mapping = {
    'Man Utd': 'Man United',
    'Nottingham Forest': "Nott'm Forest",
    'Sheffield Utd': 'Sheffield United',
    'Spurs': 'Tottenham'
    }

In [19]:
epl_data['HomeTeam'] = epl_data['HomeTeam'].replace(name_mapping)
epl_data['AwayTeam'] = epl_data['AwayTeam'].replace(name_mapping)

epl_data

           Date       HomeTeam     AwayTeam
0    2024-01-01      Liverpool    Newcastle
1    2024-02-01       West Ham  Bournemouth
2    2024-02-01         Wolves   Man United
4    2023-10-01  Nott'm Forest    Brentford
5    2024-01-02       West Ham     Brighton
..          ...            ...          ...
375  2024-01-31      Tottenham    Brentford
376  2024-01-31       Man City      Burnley
377  2024-01-31      Liverpool      Chelsea
378  2023-12-31         Fulham      Arsenal
379  2023-12-31      Tottenham  Bournemouth

[342 rows x 3 columns]

In [23]:
epl_data['Date'] = pd.to_datetime(epl_data['Date'])
epl_data = epl_data.sort_values(by='Date')
epl_data

          Date          HomeTeam        AwayTeam
147 2023-08-11           Burnley        Man City
153 2023-08-12           Arsenal   Nott'm Forest
154 2023-08-12       Bournemouth        West Ham
156 2023-08-12           Everton          Fulham
157 2023-08-12  Sheffield United  Crystal Palace
..         ...               ...             ...
227 2024-05-19           Chelsea     Bournemouth
228 2024-05-19    Crystal Palace     Aston Villa
232 2024-05-19  Sheffield United       Tottenham
223 2024-05-19           Arsenal         Everton
225 2024-05-19          Brighton      Man United

[342 rows x 3 columns]

In [24]:
epl_data.to_csv('~/Documents/ds_study/EPL_prediction_ML/data/epl_data_for_predict.csv', index=False)